<!DOCTYPE html>
<html>
<head>
  <title>Photolog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <h1>Photos</h1>
    </div>
    <div class="col-xs-3">
      <%= link_to "New Photo", open_new_photo_modal_path, remote: true, class: "btn btn-default" %>
    </div>
  </div>
  <%= yield %>

  <div class="modal fade" id="our-super-cool-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Photo</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>

</body>
</html>
